@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}

#jspsych-content {
  width: 800px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
  font-size: 2rem;
  line-height: 2rem;
}

.heading {
  font-size: larger;
  font-weight: bolder;
}

.main-symbol {
  width: 10rem;
  height: 10rem;
}