@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}

.jspsych-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #EDE8D0;
  line-height: 1.6;
  min-height: 100vh;
}

#jspsych-content {
  //width: 1000px;
  //max-width: calc(100% - 20px);
  //margin: 0 auto;
  //padding: 0 10px;
  font-family: 'Opendyslexic', Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  font-size: 24px;
  padding: 60px;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/**.heading {
  font-size: larger;
  font-weight: bolder;
}**/

.main-symbol {
  width: 10rem;
  height: 10rem;
}

.jspsych-btn {
  font-size: 22px;
  
}
.jspsych-audio-button-response-btngroup{
  display:flex;
  justify-content: space-between;
}

.jspsych-html-slider-response-container > div:first-child {
  font-size: 20px; /* Make left label smaller */
}

.jspsych-html-slider-response-container > div:last-child {
  font-size: 20px; /* Make right label smaller */
}

#which-mic {
  font-size: 2rem;
}